.body{
    margin-top: 500px;
}
.toggle-switch {
    position: relative;
    width: 100px;
    height: 50px;
    --light: #d8dbe0;
    --dark: #28292c;
    --link: rgb(27, 129, 112);
    --link-hover: rgb(24, 94, 82);
  }
  
  .switch-label {
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: var(--dark);
    border-radius: 25px;
    cursor: pointer;
    border: 3px solid var(--dark);
  }
  
  .checkbox {
    position: absolute;
    display: none;
  }
  
  .slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .checkbox:checked ~ .slider {
    background-color: var(--light);
  }
  
  .slider::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    -webkit-box-shadow: inset 12px -4px 0px 0px var(--light);
    box-shadow: inset 12px -4px 0px 0px var(--light);
    background-color: var(--dark);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .checkbox:checked ~ .slider::before {
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
    background-color: var(--dark);
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .sidebar{
    width: 0;
    height: 100%;
    position: fixed;
    background-color: #111;
    top: 0;
    left: 0;
    padding-top: 60px;
    transition: 0.5s;
    z-index: 1;
    overflow-x:hidden;
 
  }
  .sidebar a{
    padding: 8px;
    text-decoration: none;
    font-size: 25px;
    color: gray;
    display: block;
    transition: 0.3s;
  }
  .sidebar a:hover{
    border-radius: 50px;
    color: #d8dbe0;
  }
  .sidebar .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .main{
    margin-top: 30px;
  }
  .openbtn{
    font-size: 20px;
    cursor: pointer;
    background-color: #7f7777;
    color: #000000;
    padding: 10px 15px;
    border: none;
    transition: 0.4s;
  }
  .openbtn:hover{
    background-color: #000000;
    color: #d8dbe0;
  }
  #main{
    transition: margin-left 0.5s;
    padding: 16px;
  }
  